{% extends 'baseweb.html.twig' %}

{% block body %}
  <div class="container">
    <div class="course">
      <div class="list_courses">
        <div class="item__course">
          <a class="course__img" href="{{path ('course_detail')}}">
            <img src="../../IMG/course.png" alt="">
          </a>
          <div>
            <div class="course__title">
              <a href="{{path ('course_detail')}}">
                <h3>Critical Thinking - Bộ kỹ năng Tư duy phản biện </h3>
                <p>
                  3.119 Người tham dự
                </p>
              </a>
            </div>
            <div class="line"></div>
            <div class="course_member">
              Blog Member
            </div>
            <a class="course__btn" href="{{path ('course_detail')}}">
              <button>Tham gia</button>
            </a>
          </div>
        </div>
        <div class="item__course">
          <a class="course__img" href="{{path ('course_detail')}}">
            <img src="" alt="">
          </a>
          <div class="course__title">
            <a href="{{path ('course_detail')}}">
              <h3>Critical Thinking - Bộ kỹ năng Tư duy phản biện</h3>
              <p>
                3.119 Người tham dự
              </p>
            </a>
          </div>
          <div class="line"></div>
          <div class="course_member">
            Blog Member
          </div>
          <div class="course__btn">
            <button>Tham gia</button>
          </div>
        </div>
        <div class="item__course">
          <a class="course__img" href="{{path ('course_detail')}}">
            <img src="" alt="">
          </a>
          <div class="course__title">
            <a href="{{path ('course_detail')}}">
              <h3>Critical Thinking - Bộ kỹ năng Tư duy phản biện</h3>
              <p>
                3.119 Người tham dự
              </p>
            </a>
          </div>
          <div class="line"></div>
          <div class="course_member">
            Blog Member
          </div>
          <div class="course__btn">
            <button>Tham gia</button>
          </div>
        </div>
        <div class="item__course">
          <a class="course__img" href="{{path ('course_detail')}}">
            <img src="" alt="">
          </a>
          <div class="course__title">
            <a href="{{path ('course_detail')}}">
              <h3>Critical Thinking - Bộ kỹ năng Tư duy phản biện</h3>
              <p>
                3.119 Người tham dự
              </p>
            </a>
          </div>
          <div class="line"></div>
          <div class="course_member">
            Blog Member
          </div>
          <div class="course__btn">
            <button>Tham gia</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="../JS/course.js"></script>

{% endblock %}

{% block footer1 %}
{% endblock %}